<html>

  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="static/bootstrap.js"></script>

    <div class="container">
      <div class="hero-unit">
        <h1>Oil Height</h1>
        <img src="static/image1.png">

      </div>


      <h1>Height = {{ height }}</h1>
    </div>
  </body>
</html>